{{/* layouts/partials/init.html */}}

<!-- Init partial -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

{{ if .Params.description }}
<meta name="description" content="{{ .Params.description }}">
{{ else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}

{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ end }}
